<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <h1>WELCOME TO SIGN_IN PAGE </h1>
    <form action="/user/create_new_user" method="post">
        <input type="text" name="name" placeholder="Enter name" >
        <input type="text" name="email" placeholder="Enter email" >
        <input type="text" name="password" placeholder="Enter password" >
        <input type="text" name="confirm_password"  placeholder="confirmpassword">
        <button type="submit">continue to create</button>
    </form>
</body>
</html>